@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 273 23% 90%;
    --foreground: 273 26% 10%;
    --card: 273 23% 96%;
    --card-foreground: 273 26% 10%;
    --popover: 273 23% 96%;
    --popover-foreground: 273 26% 10%;
    --primary: 273 26% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 273 20% 85%;
    --secondary-foreground: 273 26% 10%;
    --muted: 273 20% 85%;
    --muted-foreground: 273 15% 40%;
    --accent: 178 20% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 20% 80%;
    --input: 273 20% 88%;
    --ring: 273 26% 37%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 273 26% 37%;
    --sidebar-foreground: 273 10% 90%;
    --sidebar-primary: 273 10% 90%;
    --sidebar-primary-foreground: 273 26% 37%;
    --sidebar-accent: 273 26% 47%;
    --sidebar-accent-foreground: 273 10% 95%;
    --sidebar-border: 273 26% 47%;
    --sidebar-ring: 273 10% 95%;
  }

  .dark {
    --background: 273 15% 10%;
    --foreground: 273 10% 90%;
    --card: 273 15% 15%;
    --card-foreground: 273 10% 90%;
    --popover: 273 15% 15%;
    --popover-foreground: 273 10% 90%;
    --primary: 273 26% 67%;
    --primary-foreground: 273 15% 10%;
    --secondary: 273 15% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 273 15% 25%;
    --muted-foreground: 273 10% 60%;
    --accent: 178 30% 64%;
    --accent-foreground: 273 15% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 273 15% 25%;
    --input: 273 15% 20%;
    --ring: 273 26% 67%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 273 15% 10%;
    --sidebar-foreground: 273 10% 90%;
    --sidebar-primary: 273 26% 67%;
    --sidebar-primary-foreground: 273 15% 10%;
    --sidebar-accent: 273 15% 20%;
    --sidebar-accent-foreground: 273 10% 95%;
    --sidebar-border: 273 15% 25%;
    --sidebar-ring: 273 26% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
